<div class="container-fluid">
    <div class="row">
        <!-- Columna de filtros -->
        <div class="col-md-3">
            <div class="filters">
                <h3>Filtros</h3>
                <!-- Filtro por categoría -->
                <div class="form-group">
                    <label for="categoriaSelect">Filtrar por categoría:</label>
                    <select id="categoriaSelect" class="form-control" [(ngModel)]="categoriaSeleccionada">
                        <option value="">Todas</option>
                        <option value="Postres">Postres</option>
                        <option value="Panadería">Panadería</option>
                        <option value="Bebidas">Bebidas</option>
                        <option value="Comidas">Comidas</option>
                    </select>
                </div>

                <!-- Filtro por rango de precio -->
                <div class="form-group">
                    <label for="rangoSelect">Filtrar por rango de precio:</label>
                    <select id="rangoSelect" class="form-control" [(ngModel)]="rangoSeleccionado">
                        <option value="">Todos</option>
                        <option value="90-150">90 - 150</option>
                        <option value="150-250">150 - 250</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Columna de productos -->
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 mb-4" *ngFor="let item of productosFiltrados">
                    <div class="thumbnail">
                        <!-- Imagen sin enlace -->
                        <img [src]="item.imagen" alt="Imagen de producto" class="img-fluid">
                        <div class="caption mt-2">
                            <p><strong>Nombre:</strong> {{ item.producto }}</p>
                            <p><strong>Categoria:</strong> {{ item.categoria }}</p>
                            <p><strong>Precio:</strong> {{ item.precio }}</p>
                            <p><strong>Descripcion:</strong> {{ item.descripcion }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

